* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}

.text-container {
  h1 {
    font-size: 64px;
    font-weight: 400;
    color: #d3573c;
    margin: 0;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    color: #901c1c;
    margin: 0;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    margin: 0;
    margin-top: 19px;
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.filter {
    display: flex;
    gap: 25px;
    margin-left: 100px;

  h2 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
  }
}

.dropdown {
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #901c1c;
  width: 170px;
  height: 69px;
  display: flex;
  
  button {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    text-align: left;
  }

  ul li {
    list-style: none;
  }
}

.dropdown.active {
  border-radius: 5px 5px 0 0;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
    left: 0;
    width: 100%;
    background-color: #901c1c;
    border-radius: 0 0 5px 5px;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.separator {
    height: 1px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
  margin: 60px 100px;
}

.gallery-item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p,
  span,
  .like-btn {
    margin: 10px 0 30px;
    color: #901c1c;
    font-size: 18px;
  }
  p {
    font-weight: 400;
  }

  span,
  .like-btn {
    font-weight: 600;
    border: none;
    background-color: transparent;
    margin-left: 5px;
  }
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.likes-price {
  position: fixed;
  bottom: 0;
  right: 36px;
  background-color: #db8876;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  width: 376px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    white-space: nowrap;
  }

  .total-likes {
    text-align: right;
  }
}

#contact_modal {
  display: none;
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.5);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 70px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  line-height: 100%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-top: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-top: 30px;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
}

form textarea {
  height: 170px;
  resize: none;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  position: relative;
  width: 1242px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  button {
    border: none;
    color: #901c1c;
    background-color: transparent;
    font-size: 54px;
    margin: 0 35px;
    cursor: pointer;
  }

  .close-lightbox {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

.lightbox-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-media img,
.lightbox-media video {
  width: 1050px;
  height: 900px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

.lightbox-title-container {
  width: 1050px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 12px;
}

.lightbox-title {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
}
